<h1><%=@merchant.name%> Discounts</h1>

<div class = "bulk_discounts">
  <% @merchant.bulk_discounts.each do |discount| %>
  <div id= <%="discount_#{discount.id}"%>>
    <ul>
      <li><strong><%=link_to "#{discount.name}", merchant_bulk_discount_path(@merchant, discount)%></strong></li>
      <p>Percentage of Discount: <%= discount.percentage_discount %><p>
      <p>Threshold: <%= discount.threshold %></p>
      <p><%= link_to "Delete #{discount.name}", merchant_bulk_discount_path(@merchant, discount), method: :delete %>
    </ul>
  <% end %>
  </div>
</div>

<%= link_to "Create New Discount", new_merchant_bulk_discount_path(@merchant)%>

<div class = "upcoming_holidays">
  <h4>Upcoming Holidays</h4>
  <% @upcoming_holidays.each do |holiday|%>
    <p><%=holiday.holiday_name%>: <%= holiday.date%></p>
  <% end %>
</div>